.logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(images/uasabi.png) right no-repeat;
  height: 81px;
  width: 365px;
  position: absolute;
  bottom: 3%;
  right: 3%;
}
